.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  gap: 8px;
  text-wrap: nowrap;
}

.Primary {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.Secondary {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: var(--surface);
}
